.navbar {
    position: fixed;  /* Fix the navbar at the top */
    top: 0;
    width: 100%;
    z-index: 1000;  /* Ensure it stays on top of other content */
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-title {
    cursor: pointer;
    font-size: 24px;
  }
  
  .cart-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .cart-icon .MuiSvgIcon-root {
    font-size: 28px;
    color: white;
  }
  
  .badge {
    color: white;
  }
  