.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
    max-width: 80%;
    z-index: 1001;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-container h2 {
    font-size: 2rem; /* Increase heading size */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.close-btn, .submit-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2DD4BF;
    color: black;
    font-weight: 900;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn {
    background-color: #f2679f; /* Different color for close button */
}

.close-btn:hover, .submit-btn:hover {
    opacity: 0.8;
}

.emoji-section {
    margin-bottom: 15px;
    text-align: center; /* Center the emojis */
}

.emoji-options span {
    font-size: 36px; /* Make emojis larger */
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.emoji-options span:hover {
    transform: scale(1.3); /* Enlarge emoji on hover */
    filter: brightness(1.2); /* Slightly brighten emoji on hover */
}

.emoji-options span.selected {
    transform: scale(1.5); /* Make selected emoji larger */
    filter: brightness(1.5); /* Brighten the selected emoji */
    transition: transform 0.2s ease, filter 0.2s ease;
}
.star-rating {
    display: flex;
    justify-content: center; /* Center the stars */
    margin-bottom: 15px;
}

.star-rating span {
    font-size: 30px; /* Increase size of stars */
    color: #FFD700; /* Gold color for stars */
    cursor: pointer;
    margin: 0 5px;
}

.star-rating span.filled {
    color: #FFD700; /* Filled stars in gold */
}

.star-rating span:hover,
.star-rating span:hover ~ span {
    color: #FFD700; /* Highlight stars on hover */
}
