
/* .read-button {
  background-color: #2DD4BF;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 800;
  font-family: 'Gilroy', sans-serif;
  text-transform: uppercase;
  padding: 10px ;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  width: 8.1rem;
} 
/* .read-button:hover {
  background-color: #26c2a8; /* Darker shade for hover 
} 
/* /* footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.icon .space-x-4 a {
  color: white;
  transition: transform 0.3s ease;
}
.icon .space-x-4 a {
  color: white; /* Ensure the icons have a visible color 
  transition: transform 0.3s ease;
  text-decoration: none; /* Remove any underline 
}

.icon .space-x-4 a:hover {
  transform: scale(1.3); /* Slightly enlarge the icons on hover 
}


.icon {
  color: #FFFFFF !important;  /* Force color change 
} */
/* .icon .space-x-4 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;   
} */


@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  footer .container {
    align-items: center;
    text-align: center;
  }

  .icon .space-x-4 {
    display: flex;
    justify-content: center;
    gap: 0.5rem;   
  }

  .grid > div {
    margin-bottom: 0rem;
  }
  .heading {
    margin-bottom: 0rem;
    /* Reduce margin on smaller screens */
  }
}